[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none;
}

a:focus + i.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
