<!doctype html>
<html charset="utf-8" ng-app="feedApp" ng-cloak>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sky feed</title>
  <link rel="stylesheet" href="https://sky.blackbaudcdn.net/skyux/1.19.1/css/sky-bundle.css" integrity="sha384-rCHAZzIqFLwC6z0rrDMyjB4UNDV5LX7dkYYVMNba0hMetsGOLkd0WXF7DZYjzWkh" crossorigin="anonymous">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <bb-navbar>
    <div class="container-fluid col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
      <ul class="nav navbar-nav navbar-left">
        <li class="bb-navbar-active"><a href="">Feed</a></li>
        <li><a href="https://github.com/brianbianchi/angularjs-feed">Code</a></li>
        <li><a href="https://skyux.developer.blackbaud.com/">SKY UX</a></li>
      </ul>
    </div>
  </bb-navbar>
  


  <div class="container-fluid bb-page-content col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2" ng-controller="FeedController as ctr">

    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"> Configure Subscriptions </button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalLabel">Subscriptions</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Current</h2>
            <div ng-repeat="sub in ctr.subs">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-click="ctr.removeFeed(sub, 'subs')"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                </span>
                <span class="">&nbsp;&nbsp;&nbsp;{{sub.title}}</span>
              </div>
            </div>
            <form ng-submit="ctr.addFeed(ctr.feedUrl)">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </span>
                <input type="text" class="form-control" ng-model="ctr.feedUrl"  size="30" placeholder="add custom rss url here">
              </div>
            </form> 
          </div>
          <div class="modal-footer">
            <h2>Popular</h2>
            <div ng-repeat="page in ctr.popular">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-primary" ng-click="ctr.addFeed(page.url)"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                </span>
                <span class="">&nbsp;&nbsp;&nbsp;{{page.title}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br><br><hr><br>

    <div class="row-fluid" ng-repeat="page in ctr.pages">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title" data-toggle="collapse" data-target="#{{'e'+$index}}">
            <a href="{{page.feed.link}}">{{page.feed.title}}</a>
            <span class="glyphicon glyphicon-menu-up pull-right" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-menu-down pull-right" aria-hidden="true"></span>
          </h3>
        </div>
        <div id="{{'e'+$index}}" class="collapse in">
          <div class="panel-body" ng-repeat="element in page.items">
            <p><a href="{{element.link}}">{{element.title}}</a>
              <button ng-click="collapsed=!collapsed" data-toggle="collapse" data-target="#{{'d'+$index}}">
              <span ng-class="{'glyphicon glyphicon-minus': collapsed, 'glyphicon glyphicon-plus': !collapsed}"></span> 
            </button>
            <span id="{{'d'+$index}}" class="collapse" ng-bind-html="element.description"></span>
            <br><span class="small">{{element.pubDate}}</span>
            <br><span class="small">Author: {{element.author}}</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://sky.blackbaudcdn.net/skyux/1.19.1/js/sky-bundle.min.js" integrity="sha384-TjOyf6+7MiWfLrlmRaaGb7AreBGYuTcHrzxNuGLiu2c8PLej39dD7S4zYnBH6tax" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
  <script src="feed.js"></script>
</body>
</html>