<!doctype html>
<html lang="en" ng-app="feedApp" ng-cloak>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AngularJS Feed</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
  <link rel="stylesheet" href="styles/styles.css">
</head>

<body>
  <!-- Nav -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <i class="navbar-brand fa fa-rss fa-2x" aria-hidden="true" data-toggle="modal" data-target="#exampleModal"></i>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Feed</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/brianbianchi/angularjs-feed" target="_blank">Code</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid" ng-controller="FeedController as ctr">

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Subscriptions</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4>Current</h4>
            <div ng-repeat="sub in ctr.subs">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary" ng-click="ctr.removeSubscription(sub)"> - </button>
                  <button type="button" class="btn btn-outline-primary" ng-click="ctr.orderSubs(sub)"> <i class="fa fa-sort-asc" aria-hidden="true"></i> </button>
                </span>
                <span class="form-control border-0" ng-bind-html="sub.title"></span>
              </div>
            </div>
            <br>
            <h4>Custom</h4>
            <form ng-submit="ctr.addSubscription(ctr.feedUrl)">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary" type="submit"> + </button>
                </span>
                <input type="text" class="form-control" ng-model="ctr.feedUrl" size="30" placeholder="Add custom RSS feed URL here.">
              </div>
            </form>
            <br>
            <h4>Popular</h4>
            <div ng-repeat="page in ctr.popular">
              <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary" ng-click="ctr.addSubscription(page.url)"> + </button>
                </span>
                <span class="form-control border-0">{{page.title}}</span>
              </div>
            </div>
            <br>
            <h4><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;&nbsp;Sort</h4>
            <div class="input-group">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-outline-primary" ng-click="ctr.dateSort()"> <i class="fa fa-calendar" aria-hidden="true"></i> </button>
                </span>
                <span class="form-control border-0">By Date</span>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <!-- Feed Items -->
      <div class="col-md-8">
        <!--<span class="small">{{ctr.pages}}</span> -->
        <div ng-repeat="page in ctr.pages">
          <a href="{{page.link}}" ng-bind-html="page.title" target="_blank"></a>
          <br>
          <span class="small">
            <a href="{{page.srclink}}" ng-bind-html="page.src" target="_blank"></a>
            <br> {{page.pubDate}}
            <br> Author: {{page.author}}
          </span>
          <br>
          <hr>
          <br>
        </div>
      </div>

      <!-- Right column -->
      <div class="col-4 d-none d-md-block">
        <h4>Current</h4>
        <div ng-repeat="sub in ctr.subs">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-outline-primary" ng-click="ctr.removeSubscription(sub)"> - </button>
              <button type="button" class="btn btn-outline-primary" ng-click="ctr.orderSubs(sub)"> <i class="fa fa-sort-asc" aria-hidden="true"></i> </button>
            </span>
            <span class="form-control border-0" ng-bind-html="sub.title"></span>
          </div>
        </div>
        <br>
        <h4>Custom</h4>
        <form ng-submit="ctr.addSubscription(ctr.feedUrl)">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-outline-primary" type="submit"> + </button>
            </span>
            <input type="text" class="form-control" ng-model="ctr.feedUrl" size="30" placeholder="Add custom RSS feed URL here.">
          </div>
        </form>
        <br>
        <h4>Popular</h4>
        <div ng-repeat="page in ctr.popular">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-outline-primary" ng-click="ctr.addSubscription(page.url)"> + </button>
            </span>
            <span class="form-control border-0">{{page.title}}</span>
          </div>
        </div>
        <br>
        <h4><i class="fa fa-sort" aria-hidden="true"></i>&nbsp;&nbsp;Sort</h4>
        <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn btn-outline-primary" ng-click="ctr.dateSort()"> <i class="fa fa-calendar" aria-hidden="true"></i> </button>
            </span>
            <span class="form-control border-0">By Date</span>
          </div>
      </div>

    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-sanitize.min.js"></script>
  <script src="js/app.module.js"></script>
  <script src="js/app.controller.js"></script>
  <script src="js/app.factory.js"></script>
  <script src="js/app.config.js"></script>
  <script src="js/custom.js"></script>

</body>

</html>